{
    "development": {
        "PORT": 3000,
        "MONGODB_URI": "",
        "JWT_SECRET_TOKEN": "",
        "SLACK_ERROR_CHANNEL": "",
        "host": "http://localhost:3000",
        "mailService": {
            "service": "Gmail",
            "user": "",
            "pass": ""
        }
    },
    "production": {
        "PORT": 4000,
        "MONGODB_URI": "",
        "JWT_SECRET_TOKEN": "",
        "SLACK_ERROR_CHANNEL": ""
    }
}